<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276243815447-0aqi7auegr6lnak9fdnid1rrkl4pb44g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276243815447-0aqi7auegr6lnak9fdnid1rrkl4pb44g</string>
	<key>API_KEY</key>
	<string>AIzaSyCMFgXzYLnjfZtAeGuugq1bVGC0qHnnPS8</string>
	<key>GCM_SENDER_ID</key>
	<string>276243815447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kunwoo.app</string>
	<key>PROJECT_ID</key>
	<string>testproject-d6b98</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-d6b98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276243815447:ios:3ac47d039de543906b5052</string>
</dict>
</plist>